.github-container {
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.github-stats-img {
  margin: 2rem;
}
.section-title{
  margin-top: 3rem;
  font-size: 3rem;
}
.github_heading{
  font-size: 3rem;
}

@media screen and (max-width: 400px) {
  .github-container {
    margin: auto;
  }
  .github-stats {
    display: block;
  }
  .github-stats-img {
    height: 160px;
    width: 100%;
    margin: auto;
  }
  .section-title{
    font-size: 2rem;
    margin: auto;
    margin-bottom: 2rem;
  }
  .github_heading{
    font-size: 2rem;
  }
}

@media screen and (min-width: 401px) and (max-width: 740px) {
  .github-container {
    margin: auto;
  }
  .github-stats {
    display: block;
    width: 20%;
  }
  .github-stats-img {
    height: 160px;
    margin: auto;
    margin-top: 2rem;
  }
  .section-title{
    margin-top: 3rem;
    font-size: 3rem;
  }
  .github_heading{
    font-size: 3rem;
  }
}
