.techs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5rem;
}

.front-techs{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5rem;
}

.tools-techs{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5rem;
}
.heading {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tech-container h1 {
  font-size: 3rem;
}
.softskill-heading{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}
.softskill-heading p {
  font-size: 2rem;
  text-align: center;
}

@media screen and (max-width: 450px) {
  .techs{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 1rem;
  }

  .front-techs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    align-items: center;
    margin: 3rem;
    
  }

  .tools-techs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    align-items: center;
    margin: 3rem;
  }
  .tech-container h1 {
    font-size: 2.5rem;
    text-align: center;
  }
  .softskill-heading p{
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 451px) and (max-width: 880px) {
  .techs{
    display: flex;
    gap: 0.3rem;
    padding: 1rem;
  }
  .tech-container h1 {
    font-size: 3rem;
    text-align: center;
  }
  .softskill-heading p{
    font-size: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
  }
}
